footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: left;
    background-color: darken(#F2F2F2, 75%);
    height: 200px;
    h2 {
        color: #FFF;
    }
    p {
        color: #FFF;
        padding: 6px 16px;
    }
    i {
        color: #FFF;
        padding-right: 8px;
    }
}