header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
    i{
        height: 100%;
        color: #000;
    }
}

#logo{
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}