@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin shadow {
    box-shadow: 0 5px 5px lightgrey;
}

@mixin transformrotate ($degre, $delay) {
    transform: rotate($degre);
    animation-delay: $delay;
}

@mixin text-color($bgColor: white) {
    @if($bgColor=='black') {
        color: white;
    }
    @else {
        color: black;
    }
}