@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin shadow{
    box-shadow: 0 5px 5px lightgrey;
}