@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap);
.thin {
    font-family: Roboto;
    font-weight: 100;
}

.light {
    font-family: Roboto;
    font-weight: 300;
}

.regular {
    font-family: Roboto;
    font-weight: 400;
}

.xlarge {
    font-size: 2em;
    padding: 16px 16px;
}

.large {
    font-size: 1.3em;
}

.medium {
    font-size: 1.1em;
    padding-left: 8px;
    padding-top: 16px;
}

.small {
    font-size: 0.8em;
}

h1 {
    font-family: Shrikhand;
    padding-left: 12px;
}

h2 {
    font-family: Shrikhand;
    padding-left: 12px;
}