.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 40%;
    height: 40px;
    color: #FFF;
    margin: 0 auto;
    box-shadow: 0px 5px 10px grey;
    margin-bottom: 16px;
    margin-top: 32px;
    padding: 0 10px;
    &:hover {
        box-shadow: 0px 5px 5px grey;
    }
}

.linear-gradient {
    background: linear-gradient(-7deg, darken($color-primary, 2%), lighten($color-secondary, 2%));
    &:hover {
        background: lighten($color-primary, 20%);
    }
}